@model SII_DaysOff.Models.UserVacationDays

@{
    ViewData["Navigation"] = "UserVacationDays";
    ViewData["notShow"] = false;
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="ms-3">Delete user vacation days</h1>
<hr />
<div class="row custom-container-edit mx-auto">
    <div class="col-12 ms-3">
        <div class="row py-2">
            <div class="col-12">
                <h3 style="color: #d30012;">Are you sure you want to delete this?</h3>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-6 col-md-2 fw-bold">
                @Html.DisplayNameFor(model => model.User.Name)
            </div>
            <div class="col-6">
                <span>@Html.DisplayNameFor(model => model.User.Name)</span>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-6 col-md-2 fw-bold">
                @Html.DisplayNameFor(model => model.Year)
            </div>
            <div class="col-6">
                @Html.DisplayFor(model => model.Year)
            </div>
        </div>
        <div class="row py-3">
            <div class="col-2 fw-bold">
                @Html.DisplayNameFor(model => model.AcquiredDays)
            </div>
            <div class="col-6">
                @Html.DisplayFor(model => model.AcquiredDays)
            </div>
        </div>
        <div class="row py-3">
            <div class="col-2 fw-bold">
                @Html.DisplayNameFor(model => model.AdditionalDays)
            </div>
            <div class="col-6">
                @Html.DisplayFor(model => model.AdditionalDays)
            </div>
        </div>
        <form asp-action="Delete" class="my-4">
            <input type="hidden" asp-for="UserId" />
            <input type="submit" value="Delete" class="custom-button" />
        </form>
    </div>
</div>



@* <h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UserVacationDays</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcquiredDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcquiredDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionalDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModificationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModificationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedByNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedByNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedByNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedByNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearNavigation.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UserId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div> *@
