@model SII_DaysOff.Models.UserVacationDays

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>UserVacationDays</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcquiredDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcquiredDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionalDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModificationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModificationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedByNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedByNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedByNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedByNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearNavigation.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
