@model SII_DaysOff.Data.PaginatedList<UserVacationDays>

@{
    ViewData["notShow"] = false;
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mx-4">User vacation days</h1>

<div class="card shadow my-4 mx-4">
	<div class="card-header bg-light">
		<form asp-controller="UserVacationDays" asp-action="Index" class="mx-2 mt-3">
			<div class="form-actions no-color">
				<p>
					<input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" class="custom-button" />
					<input type="submit" value="Search" class="custom-button" /> |
					<a asp-controller="UserVacationDays" asp-action="Index" asp-route-year="@ViewData["YearSelected"]" asp-route-registerCount="@ViewData["RegisterCount"]" class="mx-2 custom-link">Back to Full List</a>
					<input type="number" min="0" max="10" name="registerCount" value="@ViewData["RegisterCount"]" class="custom-button">
					<label for="floatingInputValue" class="mx-2 custom-link">Results on page</label>
				</p>
			</div>
		</form>
	</div>
	<div class="parent">
		<div class="card-body cardRequestsManage">
			<div class="row">

				<!-- Aquí aparecerán las solicitudes -->
				<div class="col">
					<ul class="list-group ">

						@if (Model.Count() == 0)
						{
							<div class="row">
								<div class="col-12 d-flex justify-content-center">
									<i class="bi bi-file-earmark-excel-fill custom-icon"></i>
								</div>
							</div>
							<div class="row">
								<div class="col-12 d-flex justify-content-center">
									<p class="no-data-text">There are no requests to manage.</p>
								</div>
							</div>
						}
						else
						{
							<li class="list-group-item custom-list-group">
								<div class="row text-center">
									<div class="col fw-bold">
										<a asp-controller="UserVacationDays" asp-action="Index" asp-route-sortOrder="@ViewData["YearOrder"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-registerCount="@ViewData["RegisterCount"]" class="custom-filter-link">User</a>
									</div>
									<div class="col fw-bold">
										<a asp-controller="UserVacationDays" asp-action="Index" asp-route-sortOrder="@ViewData["DaysVacationOrder"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-registerCount="@ViewData["RegisterCount"]" class="custom-filter-link">Year</a>
									</div>
									<div class="col fw-bold">
										<a asp-controller="UserVacationDays" asp-action="Index" asp-route-sortOrder="@ViewData["DaysVacationOrder"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-registerCount="@ViewData["RegisterCount"]" class="custom-filter-link">Acquired days</a>
									</div>
									<div class="col fw-bold">
										<a asp-controller="UserVacationDays" asp-action="Index" asp-route-sortOrder="@ViewData["DaysVacationOrder"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-registerCount="@ViewData["RegisterCount"]" class="custom-filter-link">Additional days</a>
									</div>
									<div class="col fw-bold">
										<div class="col fw-bold">Edit/Delete</div>
									</div>
								</div>
							</li>
						}

						<!-- Solicitudes -->
						@foreach (var item in Model)
						{
							<li class="list-group-item">
								<div class="row text-center d-flex justify-content-center align-items-center">
									<div class="col">@Html.DisplayFor(model => item.User.Name) @Html.DisplayFor(model => item.User.Surname)</div>
									<div class="col">@Html.DisplayFor(model => item.Year)</div>
									<div class="col">@Html.DisplayFor(model => item.AcquiredDays)</div>
									<div class="col">@Html.DisplayFor(model => item.AdditionalDays)</div>
									<div class="col">
										<!--<a data-bs-toggle="modal" data-bs-target="#editModal" class="btn btn-unstyled custom-icon-edit"><i class="bi bi-pencil-square"></i></a>
										<a data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-unstyled custom-icon-delete"><i class="bi bi-trash-fill"></i></a>-->
										<a asp-controller="UserVacationDays" asp-action="Edit" asp-route-id="@item.UserId" class="btn btn-unstyled custom-icon-edit"><i class="bi bi-pencil-square"></i></a>
										<a asp-controller="UserVacationDays" asp-action="Delete" asp-route-id="@item.UserId" class="btn btn-unstyled custom-icon-delete"><i class="bi bi-trash-fill"></i></a>
									</div>
								</div>
							</li>
							@*@Html.Partial("../Components/ModalEditRequest", item)
						@Html.Partial("../Components/ModalDeleteRequest", item)*@
						}
					</ul>
				</div>
			</div>
		</div>
	</div>

	@{
		var previousDisabled = !Model.HasPreviousPage ? "disabled" : "";
		var nextDisabled = !Model.HasNextPage ? "disabled" : "";
	}

	<div class="card-footer py-3">
		<a asp-controller="UserVacationDays" asp-action="Index" asp-route-sortOrder="@ViewData["currentOrder"]"
		   asp-route-numPage="@(Model.PageIndex -1)" asp-route-currentFilter="@ViewData["CurrentFilter"]"
		   class="custom-button btn @previousDisabled" asp-route-registerCount="@ViewData["RegisterCount"]">Previous</a>
		@for (var i = 1; i <= Model.TotalPages; i++)
		{
			var activePage = (i == Model.PageIndex) ? "custom-button-active" : "";
			<a asp-controller="UserVacationDays" asp-action="Index" asp-route-sortOrder="@ViewData["currentOrder"]" asp-route-numPage="@i"
			   asp-route-currentFilter="@ViewData["CurrentFilter"]" class="custom-button btn @activePage" asp-route-registerCount="@ViewData["RegisterCount"]">@i</a>
		}

		<a asp-controller="UserVacationDays" asp-action="Index" asp-route-sortOrder="@ViewData["CurrentOrder"]"
		   asp-route-numPage="@(Model.PageIndex + 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]"
		   class="custom-button btn @nextDisabled" asp-route-registerCount="@ViewData["RegisterCount"]">Next</a>
	</div>
</div>
