@using Microsoft.AspNetCore.Identity
@using SII_DaysOff.Areas.Identity.Data

@inject UserManager<ApplicationUser> UserManager
@inject DbContextBD _context

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>SII DaysOff</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/Main.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/Layout.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/Calendar.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/LoginRegister.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/SII_DaysOff.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
	<link rel="stylesheet" href="~/lib/bootstrap-datepicker-master/bootstrap-datepicker-master/dist/css/bootstrap-datepicker.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
	<link href="~/fullcalendar/fullcalendar-6.1.13/dist/index.global.min.js" rel="stylesheet" />
	<link rel="icon" type="image/png" href="~/img/siigroup-spain-blueline.png" sizes="32x32">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
	@if (!ViewData["notShow"].Equals(true) || ViewData["notShow"] == null)
	{
		//
		<header class="row box-shadow navbar-custom">
			<div class="col-12 col-md-11 col-xxl-2 my-2 ms-3 ms-xxl-4">
				<div class="row">
					<div class="col-3 col-md-1 col-xxl-3">
						<img src="~/img/siigroup-spain-whiteline.png" class="navBar" />
					</div>
					<div class="col-7 col-md-11 col-xxl-9">
						<a id="manage" class="nav-link text-light title fw-bold" asp-controller="Home" asp-action="Main" asp-route-registerCount="11" asp-route-searchString="-1">SII DaysOff</a>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-11 col-xxl-7 text-left align-content-center ms-3 mt-3 ms-md-2 ms-lg-4 ms-xxl-0 mt-xxl-0">
				@{
					var user = await UserManager.GetUserAsync(User);
					if (user != null)
					{
						var role = _context.Roles.Where(r => r.Name.Equals("Admin")).Select(r => r.Id).FirstOrDefault();
						if (user.RoleId.Equals(role))
						{
							<div class="row">
								<div class="dropdown col-12 col-md-3">
									<a type="button" class="custom-progressive-link fw-bold" data-bs-toggle="dropdown">
										Reasons
									</a>
									<ul class="dropdown-menu">
										<li><a class="btn dropdown-item" data-bs-toggle="modal" data-bs-target="#reasonModal">New reason</a></li>
										<li><a class="btn dropdown-item" asp-controller="Reasons" asp-action="Index" asp-route-registerCount="11" asp-route-searchString="-1">Manage reasons</a></li>
									</ul>
								</div>
								<div class="dropdown col-12 col-md-3">
									<a type="button" class="custom-progressive-link fw-bold" data-bs-toggle="dropdown">
										Statuses
									</a>
									<ul class="dropdown-menu">
										<li><a class="btn dropdown-item" data-bs-toggle="modal" data-bs-target="#statusModal">New status</a></li>
										<a class="btn dropdown-item" asp-controller="Statuses" asp-action="Index" asp-route-registerCount="11" asp-route-searchString="-1">Manage statuses</a>
									</ul>
								</div>
								<div class="dropdown col-12 col-md-3">
									<a type="button" class="custom-progressive-link fw-bold" data-bs-toggle="dropdown">
										Vacation days
									</a>
									<ul class="dropdown-menu">
										<li><a class="btn dropdown-item" data-bs-toggle="modal" data-bs-target="#VacationDaysModal">New vacation days</a></li>
										<a class="btn" asp-controller="VacationDays" asp-action="Index" asp-route-registerCount="11" asp-route-searchString="-1">Manage vacation days</a>
									</ul>
								</div>
								<div class="dropdown col-12 col-md-3">
									<a type="button" class="custom-progressive-link fw-bold" data-bs-toggle="dropdown">
										User vacation days
									</a>
									<ul class="dropdown-menu">
										<li><a class="btn dropdown-item" data-bs-toggle="modal" data-bs-target="#UserVacationDaysModal">New user vacation days</a></li>
										<a class="btn" asp-controller="UserVacationDays" asp-action="Index" asp-route-registerCount="11" asp-route-searchString="-1">Manage user vacation days</a>
									</ul>
								</div>
							</div>
						}
					}
				}
			</div>
			<div class="col-12 col-xxl-2 d-flex justify-content-end pe-4 pe-lg-5 pe-xxl-0 mt-xxl-2 ms-xxl-1">
				<partial name="_LoginPartial" />
			</div>
		</header>
		@if (!ViewData["title"].Equals("Main"))
		{
			<nav class="navbar navbar-expand-sm navbar-toggleable-sm mb-3">
				@if (!ViewData["Navigation"].Equals("Main"))
				{
					switch (ViewData["Navigation"])
					{
						case "Reasons":
							<a id="manage" asp-controller="Reasons" asp-action="Index" asp-route-year="@ViewData["YearSelected"]" asp-route-registerCount="11" asp-route-searchString="-1" class="custom-go-back-link mt-2">
								<span class="custom-go-back"><i class="bi bi-arrow-left"></i>  Go back</span>
							</a>
							break;
						case "Statuses":
							<a id="manage" asp-controller="Statuses" asp-action="Index" asp-route-year="@ViewData["YearSelected"]" asp-route-registerCount="11" asp-route-searchString="-1" class="custom-go-back-link mt-2">
								<span class="custom-go-back"><i class="bi bi-arrow-left"></i>  Go back</span>
							</a>
							break;
						case "VacationDays":
							<a id="manage" asp-controller="VacationDays" asp-action="Index" asp-route-year="@ViewData["YearSelected"]" asp-route-registerCount="11" asp-route-searchString="-1" class="custom-go-back-link mt-2">
								<span class="custom-go-back"><i class="bi bi-arrow-left"></i>  Go back</span>
							</a>
							break;
						case "UserVacationDays":
							<a id="manage" asp-controller="UserVacationDays" asp-action="Index" asp-route-year="@ViewData["YearSelected"]" asp-route-registerCount="11" asp-route-searchString="-1" class="custom-go-back-link mt-2">
								<span class="custom-go-back"><i class="bi bi-arrow-left"></i>  Go back</span>
							</a>
							break;
					}
				}
				else
				{
					<a id="manage" asp-controller="Home" asp-action="Main" asp-route-year="@ViewData["YearSelected"]" asp-route-registerCount="11" asp-route-searchString="-1" class="custom-go-back-link mt-2">
						<span class="custom-go-back"><i class="bi bi-arrow-left"></i>  Go back</span>
					</a>
				}
			</nav>
		}
	}

	<div class="container-fluid">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="footer text-muted">
		<div class="align-content-start mx-5">
			&copy; SII
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
	<script src="~/fullcalendar/fullcalendar-6.1.13/dist/index.global.js"></script>
	<script src="~/lib/bootstrap-datepicker-master/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
