@using Microsoft.AspNetCore.Identity
@using SII_DaysOff.Areas.Identity.Data

@{
	ViewData["Title"] = "Change password";
	var user = await UserManager.GetUserAsync(User);
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject DbContextBD _context

@Html.Partial("../Components/ModalCreateReason", new SII_DaysOff.Models.Reasons())
@Html.Partial("../Components/ModalCreateStatus", new SII_DaysOff.Models.Statuses())
@Html.Partial("../Components/ModalCreateVacationDays", new SII_DaysOff.Models.VacationDays())
@Html.Partial("../Components/ModalCreateUserVacationDays", new SII_DaysOff.Models.UserVacationDays())

<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User))
	{
		<li class="nav-item">
			@if (SignInManager.IsSignedIn(User))
			{
				<a id="manage" class="nav-link text-light custom-progressive-link fw-bold">@UserManager.GetUserName(User)</a>
				<div class="submenu">
					@{
						if (user != null)
						{
							var role = _context.Roles.Where(r => r.Name.Equals("Admin")).Select(r => r.Id).FirstOrDefault();
							if (user.RoleId.Equals(role))
							{
								<div class="row">
									<div class="col-12 d-flex justify-content-start">
										<a class="btn" asp-area="Identity" asp-page="/Account/Register"><i class="bi bi-person-add"></i>   Register new user</a>
									</div>
								</div>
							}
						}
					}
					<div class="row">
						<div class="col-12 d-flex justify-content-start">
							<a class="btn" asp-area="Identity" asp-page="/Account/Manage/ChangePassword"><i class="bi bi-person-lock"></i>   Change password</a>
						</div>
					</div>
					<div class="row">
						<div class="col-12 d-flex justify-content-start">
							<form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
								<button class="btn fw-bold"><i class="bi bi-box-arrow-in-left"></i>   Logout</button>
							</form>
						</div>
					</div>
				</div>
			}
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-light" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-light" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
		</li>
	}
</ul>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}