@model SII_DaysOff.Models.Requests

<!-- Modal que se abre al darle a crear nueva solicitud -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteModalLabel">Delete request</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4>Requests</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.RequestDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.RequestDate)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.StartDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.StartDate)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.EndDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.EndDate)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.HalfDayStart)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.HalfDayStart)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.HalfDayEnd)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.HalfDayEnd)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Comments)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Comments)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CreationDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CreationDate)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ModificationDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ModificationDate)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CreatedByNavigation)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CreatedByNavigation.Id)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ModifiedByNavigation)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ModifiedByNavigation.Id)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Reason)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Reason.ReasonId)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Status.StatusId)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.User)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.User.Id)
                    </dd>
                </dl>

                <form asp-controller="requests" asp-action="Delete" method="post">
                    <input type="hidden" asp-for="RequestId" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-controller="Home" asp-action="Main">Back to List</a>
                </form>
            </div>
        </div>
    </div>
</div>