@model IEnumerable<SII_DaysOff.Models.Reasons>

@{
    ViewData["notShow"] = false;
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReasonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaysAssigned)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReasonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaysAssigned)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdReason">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdReason">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdReason">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
