@model IEnumerable<SII_DaysOff.Models.Requests>

@{
    ViewData["notShow"] = false;
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RequestDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HalfDayStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HalfDayEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAdminNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdReasonNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUserNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HalfDayStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HalfDayEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAdminNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdReasonNavigation.IdReason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUserNavigation.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRequest">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdRequest">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRequest">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
