@model SII_DaysOff.Data.PaginatedList<Requests>

@{
	ViewData["notShow"] = false;
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mx-5">Manage requests</h1>

<div class="card shadow my-4 mx-4">
	<div class="card-header bg-light">
		<form asp-controller="Requests" asp-action="ManageIndex" class="mx-2 mt-3">
			<div class="form-actions no-color">
				<p>
					<input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" class="btn btn-outline-primary" />
					<input type="submit" value="Search" class="btn btn-outline-primary mx-3" /> |
					<a asp-controller="Requests" asp-action="ManageIndex" class="mx-3">Back to Full List</a>
				</p>
			</div>
		</form>
	</div>

	<div class="card-body">
		<div class="row">

			<!-- Aquí aparecerán las solicitudes -->
			<div class="col">
				<ul class="list-group ">
					<li class="list-group-item list-group-item-primary">
						<div class="row text-center">
							<div class="col fw-bold">
								<a asp-controller="Requests" asp-action="ManageIndex" asp-route-sortOrder="@ViewData["NameOrder"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">User</a>
							</div>
							<div class="col fw-bold">
								<a asp-controller="Requests" asp-action="ManageIndex" asp-route-sortOrder="@ViewData["ReasonOrder"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Reason</a>
							</div>
							<div class="col fw-bold">
								<a asp-controller="Requests" asp-action="ManageIndex" asp-route-sortOrder="@ViewData["StartDayOrder"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Start Date</a>
							</div>
							<div class="col fw-bold">
								<a asp-controller="Requests" asp-action="ManageIndex" asp-route-sortOrder="@ViewData["HalfDayStartOrder"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Is Half Day?</a>
							</div>
							<div class="col fw-bold">
								<a asp-controller="Requests" asp-action="ManageIndex" asp-route-sortOrder="@ViewData["EndDayOrder"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">End Date</a>
							</div>
							<div class="col fw-bold">
								<a asp-controller="Requests" asp-action="ManageIndex" asp-route-sortOrder="@ViewData["HalfDayEndOrder"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Is Half Day?</a>
							</div>
							<div class="col fw-bold">
								<a asp-controller="Requests" asp-action="ManageIndex" asp-route-sortOrder="@ViewData["RequestDayOrder"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Request Date</a>
							</div>
							<div class="col fw-bold">
								<a asp-controller="Requests" asp-action="ManageIndex" asp-route-sortOrder="@ViewData["CommentsOrder"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Comments</a>
							</div>
							<div class="col fw-bold">Approve/Reject</div>
						</div>
					</li>

					@if (Model.Count() == 0)
					{
						<div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
							<strong>No requests found </strong> <!--Press <a asp-controller="Requests" asp-action="ManageIndex" class="alert-link">"Here"</a> to see all requests.-->
							<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						</div>
					}

					<!-- Solicitudes -->
					@foreach (var item in Model)
					{
						<li class="list-group-item">
							<div class="row text-center d-flex justify-content-center align-items-center">
								<div class="col">@Html.DisplayFor(model => item.User.Name) @Html.DisplayFor(model => item.User.Surname)</div>
								<div class="col">@Html.DisplayFor(model => item.Reason.Name)</div>
								<div class="col">@Html.DisplayFor(model => item.StartDate)</div>
								<div class="col">@Html.DisplayFor(model => item.HalfDayStart)</div>
								<div class="col">@Html.DisplayFor(model => item.EndDate)</div>
								<div class="col">@Html.DisplayFor(model => item.HalfDayEnd)</div>
								<div class="col">@Html.DisplayFor(model => item.RequestDate)</div>
								<div class="col">@Html.DisplayFor(model => item.Comments)</div>
								<div class="col">
									<form asp-action="Manage" method="post">
										<input type="hidden" name="id" value="@item.RequestId" />
										<button type="submit" class="btn btn-unstyled" name="option" value="Approved"><i class="bi bi-clipboard2-check-fill"></i></button>
										<button type="submit" class="btn btn-unstyled" name="option" value="Cancelled"><i class="bi bi-clipboard2-x-fill"></i></button>
									</form>
								</div>
							</div>
						</li>
					}

					<!--<li class="list-group-item">
						<div class="row text-center">
							<div class="col">
								Vacations
							</div>
							<div class="col">
								13/05/2024
							</div>
							<div class="col">
								Is half day?
							</div>
							<div class="col">
								31/05/2024
							</div>
							<div class="col">
								Is half day?
							</div>
							<div class="col">
								15
							</div>
							<div class="col">
								10/05/2024
							</div>
							<div class="col">
								Pending
							</div>
						</div>
					</li>-->
				</ul>
			</div>
		</div>
	</div>

	@{
		var previousDisabled = !Model.HasPreviousPage ? "disabled" : "";
		var nextDisabled = !Model.HasNextPage ? "disabled" : "";
	}

	<div class="card-footer py-3">
		<a asp-controller="Requests" asp-action="ManageIndex" asp-route-sortOrder="@ViewData["currentOrder"]"
		   asp-route-numPage="@(Model.PageIndex -1)" asp-route-currentFilter="@ViewData["CurrentFilter"]"
		   class="btn btn-primary @previousDisabled">Previous</a>
		@for (var i = 1; i <= Model.TotalPages; i++)
		{
			var activePage = (i == Model.PageIndex) ? "active" : "";
			<a asp-controller="Requests" asp-action="ManageIndex" asp-route-sortOrder="@ViewData["currentOrder"]" asp-route-numPage="@i"
			   asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-primary @activePage">@i</a>
		}

		<a asp-controller="Requests" asp-action="ManageIndex" asp-route-sortOrder="@ViewData["CurrentOrder"]"
		   asp-route-numPage="@(Model.PageIndex + 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]"
		   class="btn btn-primary @nextDisabled">Next</a>
	</div>

</div>