@model IEnumerable<SII_DaysOff.Models.Requests>

@{
    ViewData["notShow"] = false;
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mx-5">Manage requests</h1>

<div class="card-body">
	<div class="row">
		<div class="col-auto">
			<!--<div class="dropdown">
				<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu" data-bs-toggle="dropdown">
					Type of request
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu">
					<li><a class="dropdown-item" href="#">Pending requests</a></li>
					<li><hr class="dropdown-divider"></li>
					<li><a class="dropdown-item" href="#">Approved requests</a></li>
					<li><hr class="dropdown-divider"></li>
					<li><a class="dropdown-item" href="#">Cancelled request</a></li>
				</ul>
			</div>-->
		</div>

		<!-- Aquí aparecerán las solicitudes -->
		<div class="col">
			<ul class="list-group ">
				<!--
					1. Motivo
					2. Día inicio
					3. Es medio día?
					4. Día fin
					5. Es medio día ?
					6. Días totales
					7. Día solicitud
					8. Estado
				-->
				<li class="list-group-item list-group-item-primary">
					<div class="row text-center">
						<div class="col fw-bold">Reason for the request</div>
						<div class="col fw-bold">Start day</div>
						<div class="col fw-bold">Is half day?</div>
						<div class="col fw-bold">End day</div>
						<div class="col fw-bold">Is half day?</div>
						<div class="col fw-bold">Request day</div>
						<div class="col fw-bold">Comments</div>
						<div class="col fw-bold">Approve/Reject</div>
					</div>
				</li>

				<!-- Solicitudes -->
				@foreach (var item in Model)
				{
					<li class="list-group-item">
						<div class="row text-center">
							<div class="col">@Html.DisplayFor(model => item.Reason.Name)</div>
							<div class="col">@Html.DisplayFor(model => item.StartDate)</div>
							<div class="col">@Html.DisplayFor(model => item.HalfDayStart)</div>
							<div class="col">@Html.DisplayFor(model => item.EndDate)</div>
							<div class="col">@Html.DisplayFor(model => item.HalfDayEnd)</div>
							<div class="col">@Html.DisplayFor(model => item.RequestDate)</div>
							<div class="col">@Html.DisplayFor(model => item.Comments)</div>
							<div class="col">
								<form asp-action="Manage" method="post">
									<input type="hidden" name="id" value="@item.RequestId" />
									<button type="submit" class="btn btn-unstyled" name="option" value="Approved"><i class="bi bi-check-square-fill"></i></button>
									<button type="submit" class="btn btn-unstyled" name="option" value="Cancelled"><i class="bi bi-x-square-fill"></i></button>
								</form>
							</div>
						</div>
					</li>
				}

				<!--<li class="list-group-item">
					<div class="row text-center">
						<div class="col">
							Vacations
						</div>
						<div class="col">
							13/05/2024
						</div>
						<div class="col">
							Is half day?
						</div>
						<div class="col">
							31/05/2024
						</div>
						<div class="col">
							Is half day?
						</div>
						<div class="col">
							15
						</div>
						<div class="col">
							10/05/2024
						</div>
						<div class="col">
							Pending
						</div>
					</div>
				</li>-->
			</ul>
		</div>
	</div>
</div>
